:root {
    --primary-color: #075183;
    --secondary-color: #A8D9FA;
    --accent-color: #0B7ECB;
    --bg-color: #FFFFFF;
    --text-color: #021827;
}

body {
    background-color: #f2f2f3;
}

h3 {
    margin: 0;
    padding: 20px 10px;
    text-align: center;
}

.sidebar {
    position: absolute;
    width: 6vw;
    height: 100vh;
    background-color: white;
}

.middle-icon-form {
    width: 100%;
}

.middle-icons,
.bottom-icons {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

svg {
    width: 32px;
    height: 32px;
    margin: 20px;
    fill: grey;
    cursor: pointer;
}

label {
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: 3px solid var(--secondary-color);
    border: none;
}

#settings-button,
#logout-button {
    display: none;
}

#home-button,
#menu-button,
#history-button,
#settings-button,
#logout-button {
    display: none;
}

#home-button:checked ~ label .home-icon,
#menu-button:checked ~ label .menu-icon,
#history-button:checked ~ label .history-icon {
    fill: var(--secondary-color);
}

#home-button:checked ~ .home-label,
#menu-button:checked ~ .menu-label,
#history-button:checked ~ .history-label {
    border-right: 3px solid var(--secondary-color);
}